body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
}
.title{
  font-size: 30px;
  font-weight: bold;

}
.move-button{
  font-size: 20px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: transparent;
  color: white;
  margin-right: 20px;
  margin-bottom: 30px;
  outline: none;
}
.move-button2{
  font-size: 22px;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  margin-right: 20px;
  border: 3px solid white;
  outline: none;

}
.reset-button{
  font-size: 20px;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  

}
footer{
  position: fixed;
  font-family: sans-serif;
  font-size: 20px;
  bottom: 0;
  left: calc(100vw / 3);
  text-align: center;
  align-items: center;
}
.result{
  font-size: 25px; margin: 30px 0px; padding: 10px; text-transform: uppercase;
  color: green;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  background-color: rgb(240, 240, 240);
}


@media (max-width: 410px){
  .move-button{
    font-size: 22px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .result{
    font-size: 20px; margin: 30px 0px; padding: 10px; text-transform: uppercase;
    color: green;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
  }
  .move-button2{
    display: block;
    font-size: 22px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    border: 3px solid white;
    margin-right: auto !important;
    margin-left: auto;

  
  }
  .js-moves{
    font-size: 20px;
    
  }
  .js-score{
    font-size: 22px;
  }
  .reset-button{
    font-size: 20px;
  padding: 13px 15px;
  border-radius: 8px;
  border: none;
  }
  
}
